<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAUdZgOAqj7dhAxX6s-dE0deaKFGsGmuS4</string>
	<key>GCM_SENDER_ID</key>
	<string>842106068006</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.bigmart.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>bigmart-5a646</string>
	<key>STORAGE_BUCKET</key>
	<string>bigmart-5a646.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:842106068006:ios:e39263ca88e1df5c995ae7</string>
</dict>
</plist>